/* body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: #fbfbfb;
    background:url('../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */